<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <title style="text-align: center">Welcome!</title>
    <h1 style="text-align: center">Easy Money Bank</h1>
    <p>
        A bank is a financial institution that is licensed to accept checking and savings deposits and make loans. Banks also provide related services such as individual retirement accounts (IRAs), certificates of deposit (CDs), currency exchange, and safe deposit boxes.
    </p>
    <p>
        We are happy to help you with any kind of sevieces. Please find out more about our bank on the given links. You will find the address and contact details and also the branch managers name.
    </p>
    <a href="/Details">Details</a>
    <a href="/contact us">Contact Us</a>
</body>
</html>
