<!DOCTYPE html>
<html>
<head>
    <title>User Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>User Data</h1>
    <table class="center">
        <tbody>
            <tr>
                <td>First Name:</td>
                <td>{{ data['First_Name'] }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ data['Last_Name'] }}</td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td>{{ data['Date_of_Birth'] }}</td>
            </tr>
            <tr>
                <td>Sex:</td>
                <td>{{ data['Sex'] }}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{ data['Address'] }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ data['Email'] }}</td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td>{{ data['Mobile'] }}</td>
            </tr>
        </tbody>
    </table>
    <p>
        <a style="text-align: center;" href="/login" class="button">Logout</a>
    </p>
</body>
</html>